@media (min-width: 429px) {
    .article.top {
        height:50vh;
        
    }
    nav {
        height:25vh;
    }


}
/* 
@media (min-width: 429px) {
    nav {
        height:30vh;
    }
} */




