@media (min-width: 429px) and (orientation: landscape) {
    .article.top {
        height:70vh;
        
    }
    nav {
        height:35vh;
    }
    header {
        height: 13vh;
    }

}




/* 
@media (min-width: 429px) {
    nav {
        height:30vh;
    }
} */




