@media (min-width: 429px) {
    /* .article.top {
        height:50vh;
        
    } */
    nav {
        height:35vh;
    }
    header {
        height: 13vh;
    }

}





/* 
@media (min-width: 429px) {
    nav {
        height:30vh;
    }
} */




