.article {
    width: 100%;
    height:50vh;
    background:#f8f8ff;

}


.article.top {
    height: 35vh;
    width: 100%;
    background: -moz-linear-gradient(90deg, rgba(113,96,70,1) 28%, rgba(101,81,55,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(113,96,70,1) 28%, rgba(101,81,55,1) 100%);
    background: linear-gradient(90deg, rgba(113,96,70,1) 28%, rgba(101,81,55,1) 100%);
    
}

