.expand-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #5a4a30;
    text-align: center;
    /* border-radius: 0 0 10px 10px; */
    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.expand-button:hover {
    background: #4a3c26;
}


.expand-button svg {
    color: #fff;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    pointer-events: none;
}